<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Welcome</title>
    <script>
        $(document).ready(function () {

        });

        function Calculate() {
            var n = parseInt($("#sex").val());
            n += parseInt($("#age").val());
            n += parseInt($("#income").val());
            n += parseInt($("#members").val());
            n += parseInt($("#stress_may_treat_disorder").val());
            n += parseInt($("#stress_impact_on_depression").val());
            n += parseInt($("#stress_impact_on_health").val());
            n += parseInt($("#stress_impact_on_anxiety").val());
            n += parseInt($("#event_thatcase_stress").val());
            n += parseInt($("#broken_relationship").val());
            n += parseInt($("#family_responsibilty").val());
            n += parseInt($("#loss_of_job").val());
            n += parseInt($("#economic_condition").val());
            n += parseInt($("#death_of_nearest").val());
            n += parseInt($("#injury").val());
            //alert(n);
            var sname = "";
            sname += $("#name").val();
            if (sname == "") alert("Enter your name.");
            else {

                var str = "HELLO " + sname + ", YOU ARE IN ";

                if (n <= 20)
                    str += "LOW RISK.";
                else if (n <= 26)
                    str += "INTERMEDIATE RISK. ";
                else if (n <= 32)
                    str += "HIGH LEVEL RISK. ";
                else
                    str += "VERY HIGH LEVEL RISK. ";

                str += "YOUR SCORE IS " + n + ".";

                $("#out").html(str);
                $("#diseases").hide();
                $("#advice").hide();
                $("#symptom").hide();
                $("#sym").hide();
                $("#dis").hide();
                $("#adv").hide();
                $("#dis").hide();
                $("#adv").hide();
            }


        }
        function Clear() {
            location.reload();
        }
        function Check() {
            var score = $("#score").val();
            var disease_str = "";
            var advice_str = "";
            if (score <= 20) {
                disease_str += "Sudden death, Depression.";
                advice_str += "Good working environment.";
            }
            else if (score <= 26) {
                disease_str += "Heart diseases, Diabetes, Sudden death, Depression.";
                advice_str += "Physical exercise, Family bonding, Good working environment.";
            }
            else if (score <= 32) {
                disease_str += "Heart diseases, Diabetes, Schizophrenia, Multiple sclerosis, Sudden death, Depression, Obesity.";
                advice_str += "Yoga, Physical exercise, Family bonding, Good working environment.";
            }
            else {
                disease_str += "Heart diseases, Diabetes, Schizophrenia, Multiple sclerosis, Sudden death, Depression, Obesity, Alzheimer’s diseases.";
                advice_str += "Yoga, Physical exercise, Family bonding, Recreation, Good working environment, Reading book.";
            }


            var sname = "";
            sname += $("#name").val();
            //alert(sname);
            if (sname == "") alert("Enter your name.");
            else {
                var n = score;
                var str = "HELLO " + sname + ", YOU ARE IN ";

                if (n <= 20)
                    str += "LOW RISK.";
                else if (n <= 26)
                    str += "INTERMEDIATE RISK. ";
                else if (n <= 32)
                    str += "HIGH LEVEL RISK. ";
                else
                    str += "VERY HIGH LEVEL RISK. ";

                str += "YOUR SCORE IS " + n + ".";

                $("#out").html(str);
                $("#diseases").show();
                $("#advice").show();
                $("#symptom").show();
                $("#sym").show();
                $("#dis").show();
                $("#adv").show();
                $("#dis").html(disease_str);
                $("#adv").html(advice_str);
            }


        }

    </script>
</head>

<body>
    <div class="container-fuild" style="background-color: green;">
        <div class="row">
            <div class="col-12">
                <h1 align="middle">
                    <font color="Black"><u>Let's Check Your Stress</u></font>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fuild">
        <div class="row">
            <div class="col-6" style=" margin-left: 2%;">
                <table>
                    <tr style="background-color: lightgray;">
                        <td>
                            <label for="name" style="color: black; padding-left: 3%;"><b>Name: </b></label>
                        </td>
                        <td>
                            <input type="text" id="name" placeholder="Enter your name" >
                        </td>
                    </tr>
                    <tr style="background-color: lightslategray; ">
                        <td>
                            <label for="sex" style="color: black; padding-left: 3%;"><b>Sex: </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="sex" style="width: 120px;padding-left: 18%;">
                                <option value="2">Male</option>
                                <option value="1">Female</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightgray;">
                        <td>
                            <label for="age" style="color: black; padding-left: 3%;"><b>Age: </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="age"style="width: 120px;padding-left: 5%;" >
                                <option value="1">less than 25</option>
                                <option value="4">25-40</option>
                                <option value="3">40-65</option>
                                <option value="2">more than 65</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightslategray; ">
                        <td>
                            <label for="income" style="color: black; padding-left: 3%;"><b>Family Income(Monthly): </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="income" style="width: 120px; padding-left: 5%;">
                                <option value="4">5000-10000</option>
                                <option value="3">11000-15000</option>
                                <option value="2">16000-20000</option>
                                <option value="1">21000 and above</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightgray; ">
                        <td>
                            <label for="member" style="color: black; padding-left: 3%;"><b>Family members: </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="members" style="width: 120px;padding-left: 20%;">
                                <option value="1">1-4</option>
                                <option value="2">5-6</option>
                                <option value="3">7-8</option>
                                <option value="4">more than 8</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightslategray; ">
                        <td>
                            <label for="stress_treat_disorder" style="color: black;padding-left: 3%;"><b>Do you think that stress may
                                    treat disorder?:
                                </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="stress_may_treat_disorder" style="width: 120px;padding-left: 20%;">
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightgray;">
                        <td>
                            <label for="s_i_d" style="color: black; padding-left: 3%;"><b>Stress has an impact on depression?: </b></label>
                        </td>
                        <td style="padding-left: 10%;"> 
                            <select id="stress_impact_on_depression" style="width: 120px;padding-left: 20%;">
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightslategray; ">
                        <td class="container-fuild col-12" >
                            <label for="s_i_h" style="color: black;"><b>Stress may have any impact on your health?:
                                </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="stress_impact_on_health" style="width: 120px; padding-left: 20%;">
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightgray;">
                        <td>
                            <label for="s_i_a" style="color: black; padding-left: 3%;" class="container-fuild"><b>Stress has any impact on anxiety of you?:
                                </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="stress_impact_on_anxiety" style="width: 120px;padding-left: 20%;" >
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightslategray; ">
                        <td>
                            <label for="e_c_s" style="color: black; padding-left: 3%;"><b>Do you have any event that causes stress?:
                                </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="event_thatcase_stress" style="width: 120px; padding-left: 20%;">
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightgray; ">
                        <td>
                            <label for="b_r" style="color: black; padding-left: 3%;"><b>Any broken relationship in your life?:
                                </b></label>


                        </td>
                        <td style="padding-left: 10%;">
                            <select id="broken_relationship"style="width: 120px;padding-left: 20%;" >
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightslategray; ">
                        <td>
                            <label for="f_r" style="color: black; padding-left: 3%;"><b>Do you have Family responsibilities?: </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="family_responsibilty" style="width: 120px;padding-left: 20%;">
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightgray;">
                        <td>
                            <label for="j_l" style="color: black;  padding-left: 3%;"><b>Loss of job recently?: </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="loss_of_job" style="width: 120px; padding-left: 20%;">
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightslategray; ">
                        <td>
                            <label for="e_c_b" style="color: black;padding-left: 3%;"><b>Your current economic condition is bad?:
                                </b></label>

                        </td>
                        <td style="padding-left: 10%;">
                            <select id="economic_condition" style="width: 120px;padding-left: 20%;">
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightgray; ">
                        <td>
                            <label for="d_n" style="color: black; padding-left: 3%;"><b>Recently death of your nearest anyone?:
                                </b></label>

                        </td>
                        <td style="padding-left: 10%;">
                            <select id="death_of_nearest" style="width: 120px;padding-left: 20%;">
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="background-color: lightslategray; ">
                        <td>
                            <label for="s_i_r" style="color: black; padding-left: 3%;"><b>Do you have serious injuries recently?:
                                </b></label>
                        </td>
                        <td style="padding-left: 10%;">
                            <select id="injury" style="width: 120px; padding-left: 20%;">
                                <option value="2">Yes</option>
                                <option value="1">No</option>
                            </select>
                        </td>
                    </tr>
                </table>

            </div>
            
            <div class="col-2">
                <p style="background-color:cornflowerblue; color: black; padding-inline-start: 5%;">Low risk level score
                    <= 20 <br>Int. risk level score <= 26<br>High risk level score <= 32<br>V.H.R. level score > 32
                </p>
                <button type="button" id="calculate" onclick="Calculate()">Calculate</button>
                <button type="button" id="clear" onclick="Clear()">Clear</button><br><br>
                <label for="score"><b>Enter your score: </b></label><br>
                <input type="number" id="score" placeholder="Enter score..">
                <button type="button" id="check" onclick="Check()">Check</button>
            </div>
            <div class="col-3">
                <label><b> RESULT:</b></label><br>
                <div class="output" id="out" style="background-color: lightgray; color: red; padding-inline-start: 2%;">

                </div>
                <br>
                <div class="container-fluid" id="suggestions">
                    <p id="diseases" style="color: cadetblue; display: none;"><b>Diseases according to risk level: </b>
                    </p>
                    <div class="container-fuild" id="dis"
                        style="padding-inline-start: 10%; font-weight: bold; display: none;">

                    </div>
                    <br>
                    <p id="advice" style="color: cadetblue; display: none;"><b>Advices according to risk level: </b></p>
                    <div class="container-fuild" id="adv"
                        style="padding-inline-start: 10%; font-weight: bold; display: none;">

                    </div>
                    <br>
                    <p id="symptom" style="color: cadetblue; display: none;"><b>Symptom due to stress: </b></p>
                    <p id="sym" style="padding-inline-start: 10%; display: none;"><b>Feeling sad, Change in appetite and
                            Diarrhoea</b></p>

                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
